.menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;

	width: 50%;
	padding: 10px 0 10px 0;
	margin: 0 auto;
}

.menu a {
	color: black;
}

.menu a.active {
	color: #888;
	border-bottom: 1px solid #ccc;
}

.menu a:focus {
	outline: none;
}
